// Reset
@import "normalize";

//Import everything from modules
@import "../modules/all";

html {
  background-color:  $base-background-color;
  color:             $base-text-color;
}

a {
  text-decoration: none;
  color: #428bca;
  font-weight: 600;
}
