footer {

  margin: 0;
}

.standard-footer {
  .line {
    display: block;
    content: "";
    border-top: 1px solid #e2e2e2;
    margin: 4em auto;
    max-width: 10em;
    width: 50%;
  }

  p {
    font-size: $footer-font-size;
    text-align: center;
    font-size: 0.8em;
  }

  padding-bottom: 4em;
}
