[role="banner"] {

  background: #000 url(/build/images/header.jpg) no-repeat fixed;
  min-height: 100vh;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  position: relative;
  text-align: center;
  padding: 12em 0;

  //just for now, to change background color..
  @include filter(grayscale(60%));
}

[role="banner"]>div {
  @include vertical-align;
  color: $header-color;
  
  //"Startup Hack"
  h1 {
    text-align: center;
    width: 70%;
    margin: auto;
    font-size: 6em;
    @include media($mobile) {
      font-size: 4em;
    }
    @include media($desktop) {
      font-size: 6em;
    }
    @include media($desktop-wide) {
      font-size: 10em;
      white-space: nowrap;
    }

    //"Gothenburg"
    em {
      font-style: normal;
      display: block;
      font-family: $sans;
      font-size: .20em;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1em;
      transform: translateX(1em);
      @include media($desktop) {
        font-size: .15em;
      }
    }
  }

  //"Together with Spotify"
  h2 {
    text-align: center;
    font-family: $sans;
    letter-spacing: .1em;
    margin-bottom: 1em;
    font-weight: normal;
  }
  //"Together with Spotify" needs to be moved for styliiish
  .coop {
    font-size: 1.3em;
    margin-left: 30%;
    @include media($mobile) {
      font-size: 0.8em;
      margin-left: 20%;
    }
  }
  //Needs to have a lil' bit of margin top.
  .min-info {
    margin-top: 50px;
    @include media($mobile) {
      font-size: 1.2em;
    }
    @include media($desktop) {
      font-size: 2em;
    }
  }
}

//Style in button. Position here.
.apply-button {
  position: absolute;
  transform: translateX(-50%);
  bottom: 70px;
}
