//ETT LÄGE FÖR FULLSKÄRM
//ETT LÄGE FÖR LITEN HEIGHT
//ETT LÄGE FÖR LITEN WIDTH
//ETT LÄGE FÖR BÅDE LITEN WIDTH/HEIGHT

[role="banner"] {
  @include clearfix;
  background: #000 url(/build/images/header.jpg) no-repeat fixed;
  min-height: 100vh;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  position: relative;
  text-align: center;
  overflow: hidden;

  color: $header-color;
  //just for now, to change background color..
  @include filter(grayscale(60%));
}

.header-text {
  width: 100vw;
  padding-top: 20vh;
  //Change padding on small width
  @include media($mobile) {
    padding-top: 10vh;
  }
  //Give some space when widescreen
  @include media($desktop-wide) {
    padding-top: 10vh;
    //With lots of pixels, this will come in handy
    @include media($height-hd) {
      padding-top: 25vh;
    }
  }
  //Extreme cases
  @include media($height-small) {
    float: left;
    padding-top: 20vh;
    width: 50vw;
    height: 100vh;
  }
  
  //"Startup Hack"
  h1 {
    text-align: center;
    margin: auto;
    font-size: 10vmax;
    //For textwrap on small width
    @include media($mobile) {
      font-size: 12vmax;
      padding: 0 7%;
    }
    //To limit size when shown on widescreen
    @include media($desktop) {
      font-size: 7vmax;
    }
    //Set size for wides
    @include media($desktop-wide) {
      font-size: 8em;
    }
    //Extreme case
    @include media($height-small) {
      font-size: 10vmin;
    }
    @include media($height-special-case) {
      font-size: 15vmin;
    }

    //"Gothenburg"
    em {
      font-style: normal;
      display: block;
      font-family: $sans;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1em;
      transform: translateX(1em);
      font-size: 2vmax;
      @include media($height-small) {
        font-size: 4vmin;
      }
      @include media($height-special-case) {
        font-size: 3vmin;
      }
    }
  }

  //"Together with Spotify"
  h2 {
    text-align: center;
    font-family: $sans;
    letter-spacing: .1em;
    margin-bottom: 1em;
    font-weight: normal;
    @include media($height-small) {
        font-size: 5vmin;
    }
  }
}

.collaboration {
    width: 100vw;
    display: inline-block;
    //fix so it's not center on desktops
    @include media($desktop) {
      padding-left: 50vw;
    }
    @include media($height-small) {
      width: 50vw;
      padding-top: 20vh;
      padding-left: 0;
    }
    @include media($height-small) {
      float: right;
      padding-top: 20vh;
      width: 50vw;
    }

    //"in collaboration with - "
    h2 {
      display: inline-block;
      font-size: 4vw;
      //make sure size not too small on small screen
      @include media($mobile) {
        font-size: 4vw;
      }
      @include media($desktop) {
        font-size: 1.5vw;
      }
      //Remove margin in extreme case
      @include media($height-small) {
        font-size: 5vmin;
        vertical-align: middle;
      }
    }
    //Spotify logo
    img {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      width: 20vw;
      @include media($mobile) {
        width: 30vw;
      }
      @include media($desktop) {
        width: 200px;
      }
    }
}

.banner-info {
  @include media($height-small) {
    width: 50vw;
    float: left;   
  }
  h2 {
    font-size: 4vw;
    @include media($mobile) {
      margin: 5vh 0;
    }
    @include media($desktop) {
      font-size: 2em;
    }
  }
}

.header-buttons {
  @include media($height-small) {
    width: 50vw;
    float: right;   
  }
}

.apply-button {
  @include media($height-small) {
    font-size: 0.8em;
    padding: 10px 20px;
  }
}

.apply-button:hover {

}
