.intro {

  h1 {
    padding-top: 1em;
    text-decoration: none;

    // span {
    //   border-bottom-style: solid;
    //   border-bottom-width: 4px;
    //   text-decoration: none;
    // }

  }

  p {
    padding-bottom: 8em;
  }
}
