.ocean-break {
  background: #000 url(/build/images/ocean.png) no-repeat;
  background-position: center -200px;
  width: 100vw;
  height: 35vh;
  overflow: hidden;
  img {
  	position: relative;
  	left: 0px;
  	height: 35vh;
  	padding: 5vh 0;
  }
}
