.sign-up {
	background-color: $base-background-color;
	width: 100vw;
	text-align: center;
	h1 {
		vertical-align: middle;
		display: inline-block;
		color: $base-text-color;
		margin: 0;
		padding: 1.8em 1em;
		@include media($mobile) {
			font-size: 2em;
		}
		@include media($mobile-wide) {
			font-size: 3em;
		}
		@include media($tablet) {
			font-size: 5em;
		}
	}

	.icon-arrow-down:before {
		vertical-align: middle;
		display: inline-block;
		transform: rotate(-90deg);
		color: #000;
		@include media($mobile) {
			font-size: 1em;
		}
		@include media($mobile-wide) {
			font-size: 2em;
		}
		@include media($tablet) {
			font-size: 3em;
		}
	}
	a {
		display: block;
	}
}

.sign-up:hover h1{
	animation: heartbeat 1.5s linear infinite;
}

@keyframes heartbeat {
    5% {
    	transform: scale(1.02, 1.02);
    }

    15% {
    	transform: scale(1.01, 1.01);
    }

    20% {
    	transform: scale(1.02, 1.02);
    }

    35% {
    	transform: scale(1, 1);
    }
}