.the-day {
  color: white;
  text-align: center;
  background: linear-gradient(
  rgba(0, 0, 0, 0.1),
  rgba(0, 0, 0, 0.7)
  ), url(/build/images/the-day.jpg) no-repeat;
  width: 100vw;
  background-size: cover;
  background-position: center center;

  h1{
    margin-top:0;
    padding-top: 1em;
  }

  .btn-group {
    min-width: 80%;
  }

  .ghost-btn {
    margin: 0 1em 0 1em;
    width: 16em;
  }

  .active {
    @include hover;
  }

  p {
    margin-top: 3em;
    margin-bottom: 0;
    padding-bottom: 5em;
  }


}
